@model LFG.Domain.Entities.Activity

<div class="well">
    <h3>
        <strong>@Model.ActivityName</strong>
    </h3>
    <br>
    <span class="lead">@Model.ActivityDescription</span>
    @using (Html.BeginForm("SubActivity", "SubList"))
    {
        <div class="pull-right">
            @Html.HiddenFor(x => x.ActivityId)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <input type="submit" class="btn btn-success" value="Я пойду!" />
        </div>
    }
    <span class="pull-right label label-primary">
        Опубликовано:
        @Model.ActivityPostDayTime.ToString("dddd, dd MMMM в HH:mm", new CultureInfo("ru-RU"))
    </span>
</div>